In [78]:
marks =[89,92,88,65,92,95]
sum = 0
for i in marks :
    sum = sum + i
print("Average : ",sum/len(marks))

Average :  86.83333333333333

In [79]:
marks

[89, 92, 88, 65, 92, 95]

In [80]:
marks.remove(65)

In [81]:
marks

[89, 92, 88, 92, 95]

In [82]:
marks.pop()

95

In [83]:
marks

[89, 92, 88, 92]

In [84]:
my = {
    "Name" : "Neeraj",
    "Age" : 19,
    "marks" : [87,92,88,92]
}

In [85]:
my

{'Name': 'Neeraj', 'Age': 19, 'marks': [87, 92, 88, 92]}

In [86]:
my["Name"]

'Neeraj'

In [87]:
my.get("marks")

[87, 92, 88, 92]

In [88]:
my.get("Age")

19

In [89]:
sum = 0
for i in my["marks"]:
    sum = sum + i
print("Average " , sum/len(my["marks"]))

Average  89.75

In [90]:
max(my["marks"])

92

In [91]:
min(my["marks"])

87

In [92]:
j = 1
for i in my["marks"] : 
    if i > 90 :
        print(f"{j} Student is Pass");
        j = j+ 1
    else :
        print(f"{j} student is Fail");
        j = j + 1

1 student is Fail
2 Student is Pass
3 student is Fail
4 Student is Pass

In [93]:
def calculate_aver(numbers) :
    sum = 0 
    for i in numbers :
        sum += i
    print("Average : ", sum/len(numbers))

In [94]:
calculate_aver([1,2,3,4,5])

Average :  3.0

In [95]:
# List is mutable 
list = [1,2,3]
# tuple is immutalbe 
tuple = (1,2,3)

In [96]:
# Dynamic Typing in Python
# in python we don't need to declare datatype, it decide the type at runtime
a = 10
b = "neeraj"

In [97]:
# = is assignment operator and == is comparision operator

In [98]:
# Swap two variables without using third variable
a = 10
b = 11
print(f"a = {a},b = {b}")
a,b = b,a
print(f"a = {a},b = {b}")

a = 10,b = 11
a = 11,b = 10

In [99]:
# / -> return float division
# // -> return integer division ( floor divison)
a = 5
b = 2
print(a/b)
print(a//b)

2.5
2

In [100]:
list = [1,2,3,"Neeraj",4,5]

In [101]:
list

[1, 2, 3, 'Neeraj', 4, 5]

In [102]:
# How do you add and remove elements from a list?
list.append(65)
print(list)
list.remove("Neeraj")
print(list)

[1, 2, 3, 'Neeraj', 4, 5, 65]
[1, 2, 3, 4, 5, 65]

In [103]:
list.insert(1,5) # insert at specific position

In [104]:
list

[1, 5, 2, 3, 4, 5, 65]

In [105]:
# Difference between append() and extend()?
list.extend([31,21,42]) # it store the element in iteration
list

[1, 5, 2, 3, 4, 5, 65, 31, 21, 42]

In [106]:
list.append([10,11]) # it store the one element 
list

[1, 5, 2, 3, 4, 5, 65, 31, 21, 42, [10, 11]]

In [107]:
# slicing
new_list = list[1:6]
new_list

[5, 2, 3, 4, 5]

In [108]:
# find the length of list
print(len(list))
print(len(new_list))

11
5

In [109]:
# remove duplicate from list 
unique = []
for i in new_list :
    if i not in unique:
        unique.append(i)
print(unique)

[5, 2, 3, 4]

In [110]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [111]:
i = 1
while(i < 6) :
    print(i)
    i += 1

1
2
3
4
5

In [112]:
for i in range(1,6):
    if i == 3 :
        continue
    else :
        print(i)

1
2
4
5

In [113]:
for i in range(1,6):
    if i == 3:
        break
    else :
        print(i)

1
2

In [114]:
for i in range(1,6):
    if i == 3:
        pass
    else :
        print(i)

1
2
4
5

In [115]:
my_dic = {
    "name" : "neeraj",
    "age" : 19,
    "marks" : 98 }
my_dic

{'name': 'neeraj', 'age': 19, 'marks': 98}

In [116]:
# iterate over key
for key in my_dic :
    print(key)

name
age
marks

In [117]:
# iterate over value
for value in my_dic.values() :
    print(value)

neeraj
19
98

In [118]:
# iterate over key value
for key,value in my_dic.items() :
    print(key,":",value)

name : neeraj
age : 19
marks : 98

In [119]:
def add (a,b) :   # a,b are peramters
    return a+b

In [120]:
add(3,5) # a,b are arguments here

8

In [1]:
def add(*args):    # *args behaves like a tuple
    return sum(args)

In [2]:
add(3,4,5,6)

18

In [123]:
def student_info(**kwargs):  # **kwargs behaves like dictionary
    print(kwargs)

student_info(name="Neeraj", age=19)

{'name': 'Neeraj', 'age': 19}

In [124]:
# *args handles multiple positional arguments, and **kwargs handles multiple keyword arguments.

In [125]:
# A function can return multiple values as tuple 
def calculate(a,b):
    return a+b,a-b

In [126]:
result = calculate(10,5)

In [127]:
result

(15, 5)

In [128]:
sum1,diff = calculate(10,5)

In [129]:
print(sum1)
diff

15

5

In [130]:
# String is immutable
a = "Hey , I am Neeraj"

In [131]:
print(a[::-1])   # reverse the string using slicing

jareeN ma I , yeH

In [132]:
rev = ""         # reverse using loop
for ch in a : 
    rev = ch + rev

In [133]:
rev

'jareeN ma I , yeH'

In [134]:
print(a.split(" ")) # breaks a string in list

['Hey', ',', 'I', 'am', 'Neeraj']

In [135]:
l = ['Hey', ',', 'I', 'am', 'Neeraj']  
print(" ".join(l))  # join the list element in a string , seperator come first

Hey , I am Neeraj

In [136]:
b = "MALAYALAM"
# check a string is palindrome
if b == b[::-1]:
    print("Palindrome")
else :
    print("not palindrome")

Palindrome

In [137]:
#b[0] = 'H' # give error because string cannot change after creation 
# but we can modify
b = "H" + b[1:]

In [138]:
b

'HALAYALAM'

In [139]:
num = [1,24,43,23,2,3]
print(sorted(num))

[1, 2, 3, 23, 24, 43]

In [140]:
print(max(num))

43

In [5]:
li = [2,42,32,3,18,23]
# count odd and even number in list 
odd = 0
even = 0 
for i in li :
    if i % 2 == 0:
        even += 1
    else :
        odd += 1
print("odd : " , odd)
print("even : " ,even)

odd :  2
even :  4

In [6]:
# reverse a list without using reverse 
li2 = li[::-1]
li2

[23, 18, 3, 32, 42, 2]

In [7]:
li2.append(2)
li2

[23, 18, 3, 32, 42, 2, 2]

In [8]:
li3 = list(set(li2))  # does not maintain order

In [9]:
li3

[32, 2, 3, 42, 18, 23]

In [10]:
# it maintains order
li4  = []    
for i in li2 :
    if i not in li4 :
        li4.append(i)

In [12]:
li4

[23, 18, 3, 32, 42, 2]

In [17]:
# print fabbinoaice 
def fabinoci(n):
    a,b = 0,1
    for _ in range(n):
        print(a,end = " ")
        a, b = b, a + b

In [18]:
fabinoci(7)

0 1 1 2 3 5 8

In [20]:
from collections import Counter

lst = [1, 2, 2, 3, 1, 4, 2]
freq = Counter(lst)
print(freq)

Counter({2: 3, 1: 2, 3: 1, 4: 1})